@{
    ViewData["Title"] = "Home";
}

<

<!-- Navbar -->
@* <nav class="navbar d-flex justify-content-end"> *@
@*     <a href="/Home/About">About</a> *@
@*     <a href="/Home/Projects">Projects</a> *@
@*     <a href="/Home/Contact">Contact</a> *@
@* </nav> *@

<!-- Hero Section -->
<section class="hero">
    <img src="~/images/Hari.jpg" alt="Hariharan C" />
    <h1>Hello, I'm <span style="color:#0dcaf0;">Hariharan C</span></h1>
    <h3>Full Stack Developer | .NET & Web Technologies</h3>
    <div class="Projects">
        <span>
            <a href="/Home/About" class="btn">About Me</a>
        </span>
        <span> <a href="/Home/Project" class="btn">Projects</a></span>
    </div>
    
</section>
